<div style="width:597px;margin:34px 23px 0px 295px ; padding: 4px 77px 0px 188px" >

<h2>SignUp form</h2>

<form [formGroup]="form"  (ngSubmit)="register()" [ngStyle]="{'background-image': 'url(assets/1.jpg)'}" >

  <div class="row">
    <div class=" col-md-offset-1 col-md-4" style="width: 300px">
      <label for="username"> Username </label>
      <input id="username" formControlName="username" class="form-control" type="text"  (keyup)="enableSaveButton()">
    </div>
  </div>

  <div class="row">
    <div class=" col-md-offset-1 col-md-4" style="width: 300px">
      <label for="email"> Email </label>
      <input id="email" formControlName="email" class="form-control" type="text" (keyup)="enableSaveButton()">
    </div>
  </div>

  <div class="row">
    <div class=" col-md-offset-1 col-md-4" style="width: 300px">
      <label for="password"> Password </label>
      <input id="password" formControlName="password" class="form-control" type="password" (keyup)="enableSaveButton()">
    </div>
  </div>

  <div class="row">
    <div class=" col-md-offset-1 col-md-4" style="width: 300px">
      <label for="confirmPassword"> Confirm Password </label>
      <input id="confirmPassword" formControlName="confirmPassword" class="form-control" type="password" (keyup)="enableSaveButton()">
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="col-md-offset-1 col-md-4">
      <button  [disabled]="enableSaveBtn" class="btn btn-md btn-primary btn-style" style="width:100px;height: 41px;margin: -23px 0px 0px 83px"
      >Save</button>
    </div>
  </div>


<div class="container signin">
    <p>Already have an account? <a routerLink="/Login" >Sign in</a>.</p>
  </div>

</form>
</div>
