

<div [ngStyle]="{'background-image': 'url(assets/1.jpg)'}" style="height: 625px">
  <br><br><br><br><br><br><br><br><br>


  <table align="center"  >
<span >
      <thead>
         <th class="col"  align="center">Total Number Of Users</th>
         <th class="col"  align="center">Total Number Of Logged Users</th>
      </thead>
      <tr >
          <td class="col" align="center">{{totalNumberOfUser}}</td>
          <td class="col"  align="center">{{totalNumberOfLoggedUsers}}</td>
      </tr>
   </span>
</table>

<div align="center  " >
  <br>
<button  al (click)=" logout()" > logout</button>
</div>
</div>
